<div class="heading">
  <h1>
    Learning CSS
  </h1>
  
  <p>
    What you're doing with your life...
  </p>
</div>

<div class="input">
  <input type="text" id="input1" placeholder="Get the text..."> <br>
  <button type="submit" class="input-button">
    Submit
  </button>
</div>

<div class="content">
  <div class="inner-content">
    <h3>
      The {{ title }}
    </h3>
    <h4>
      Introduction:
    </h4>
    <p>
      When I was beside her I'm the better man, she keeps me up daily, so that we can cook back again. This guide explains how to set up your environment for Angular development using the Angular CLI tool. It includes information about prerequisites, installing the CLI, creating an initial workspace and starter app, and running that app locally to verify your setup.
    </p>
  </div>
</div>

<div class="app-card">
  <app-cards>
  </app-cards>
</div>